html, body{
    margin: 0px;
    height: auto;
    background-color: #714D2A;
    color: #f8f8ff;
}

/*CONTAINER*/
.container{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    height: 100%;
    align-content: center;
}
/*CONTAINER*/
.header, main{
    margin-top: 120px;
    margin-left: 50px;
    height: 400px;
    width: 520px;
}
/*HEADER*/
.title{
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 2px;
}
.subtitle{
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 1.25em;
}
header, nav, .social-network{
    margin-left: 42px;
}

.title, .subtitle, .presentation{
    margin: unset;
}
.presentation{
    margin-top: 14px;
    font-size: 1.25em;
    font-family: 'Gentium Plus','Times New Roman', sans-serif;
}

/*NAV*/
nav ul{
    padding-left: 0;
}
nav ul li{
    list-style: none;
    margin-top: 0.5em;
    font-size: 2em;
}
nav ul li a{
    text-decoration: none;
    color:#FFFF;
}
.social-network i{
    padding-top: 0.9em;
    padding-right: 0.65em;
}
/*NAV*/
/*HEADER*/

/*MAIN*/
.title-paragraph{
    font-size: 2.2em;
    letter-spacing: 2px;
    font-family: Tahoma, Verdana, sans-serif;
    font-weight: lighter;
    margin: 18px 0px 0px;
}
section p{
    margin-top: 2em;
    margin-bottom: 0px;
    width: 450px;
    font-size: 1.25em;
    letter-spacing: 1px;
}
/*MAIN*/

/*section{
    overflow-y: scroll;
    height: 400px;
    scroll-behavior: smooth;
}*/
::-webkit-scrollbar {
    width: 1px; /* Largeur de la barre de défilement */
}